appdirs==1.4.3
Django==1.10.6
django-allauth==0.31.0
django-appconf==1.0.2
django-compressor==1.3
django-extensions==1.7.7
django-imagekit==4.0
django-lineage==0.2.0
django-markdown-deux==1.0.4
-e git+https://timmyomahony@github.com/timmyomahony/django-pagedown.git@c139550e64259cbe1a034a492fc2739711c1b8a2#egg=django_pagedown
html5lib==1.0b10
httplib2==0.10.3
markdown2==2.2.0
oauthlib==2.0.2
olefile==0.44
packaging==16.8
pilkit==2.0
Pillow==4.0.0
pyparsing==2.2.0
pyPdf==1.13
PyPDF2==1.26.0
python-openid==2.2.5
pytz==2014.4
reportlab==3.4.0
requests==2.13.0
requests-oauthlib==0.8.0
six==1.10.0
South==1.0.2
webencodings==0.5
xhtml2pdf==0.2b1
