{% extends 'base_2014_2.html' %}
{% load markdown_deux_tags %}
{% block content %}



<div class="row">
    <div class="large-12 columns boxxy">
        <div class="boxxytop bh_hexenes">
            <strong>Contact Information and Links</strong>
        </div>
        <div class="boxxybottom">
            <h1><i class="fa fa-lg fa-mobile" title="phone"></i> +1 (617) 657-4223 </h1>
            <h1><i class="fa fa-lg fa-envelope-o" title="email"></i> <a href="mailto:gmp@h4xmb.org">gmp@h4xmb.org</a> </h1>
            <h1><i class="fa fa-lg fa-twitter" title="twitter"></i> <a href="http://twitter.com/gmorellp">@gmorellp </a> </h1>
            <h1><i class="fa fa-lg fa-github" title="github"></i> <a href="http://github.com/gmorell">gmorell </a></h1>
        </div>
    </div>
</div>
{% endblock %}
