{% extends 'base_2014_2.html' %}
{% block content %}



<div class="row">
    <div class="large-12 columns boxxy">
        <div class="boxxytop bh_dots">
            <strong>Hello Internet!</strong>
        </div>
        <div class="boxxybottom">
            This is my page. If you've stumbled upon this place then you must have been looking for something. I'm an internet engineer with an interest in data aggregation and bit collecting. I'm recently graduated from WPI with a major in Electrical and Computer Engineering.
            <br />
        </div>
    </div>
</div>
{% endblock %}
