{% extends 'base_2014.html' %}

{% block title %}
Index
{% endblock %}

{% block content %}
    <div class="jumbotron cvitem">
        <h2>Hello Internet!</h2>
        <p class="lead">
            This is my page. 
            If you've stumbled upon this place then you must have been looking for something.
            I'm an internet engineer with an interest in data aggregation and bit collecting.
            I'm presently studying Electrical and Computer Engineering at WPI.<br />
        </p>
    </div>
{% endblock %}