{% extends 'base_2014_2.html' %}
{% load inline_thumbnails %} 
{% load markdown_highlight %}
{% block content %}



{% for p in projects %}
    <div class="large-4 columns boxxy">
        <div class="boxxytop {{p.display_class}} ns_mixin_test_head">
            <strong><a href="{% url "log_project" p.slug %}">{{ p.name }}</a></strong>
            <div class="right">
                {% for l in p.links.all %}
                <a href="{{ l.url }}"><i class="fa fa-lg {{l.icon}}" title="github"></i></a>
                {% endfor %}
                
                {% if p.latest_entry %}
                <a href="{% url "log_project" p.slug %}"><i class="fa fa-list-alt"></i></a>
                {% endif %}
            </div>
        </div>
        <div class="boxxybottom ns_mixin_test_body">
            {{ p.blurb|inline_thumbnails|hl8markdown|safe }}
        </div>
    </div>
{% endfor %}
{% endblock %}
